<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.drug.infoManagement.mapper.BranchIndexMapper">

	<resultMap type="BranchModel" id="branchModelMap">
		<id property="id" column="modelId"/>
		<result property="title" column="modelName"/>
		<result property="parentModelId" column="parentModelId"/>
		<result property="modelImg" column="modelImg"/>
		<result property="modelUrl" column="modelUrl"/>
		<result property="menuType" column="menuType"/>
	</resultMap>
	
	<select id="queryByMenu" resultMap="branchModelMap">
		select * from btanch_model
	</select>
	
	<select id="login" parameterType="BranchEmployee" resultType="BranchEmployee">
		select * from btanch_employee where empState='未删除' and empName=#{empName} and empPwd=#{empPwd}
	</select>
	
	<select id="queryByMenuById" parameterType="Integer" resultMap="branchModelMap">
		SELECT * FROM btanch_model m INNER JOIN btanch_roleModule rm
			ON m.`modelId`=rm.`modelId` INNER JOIN btanch_role r
			ON r.`roleId`=rm.`roleId` WHERE r.`roleId`=#{roleId}
	</select>
	
</mapper>
